@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixins";
@import "menu";
@import "slider";
@import "footer";
@import "buttons";
@import "exigen";
@import "animations";

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/montserrat/Montserrat-Bold.otf');
  src: url('../fonts/montserrat/montserrat-bold-webfont.eot');
  src: url('../fonts/montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/montserrat/montserrat-bold-webfont.svg#webfont') format('svg');
  src: url('../fonts/montserrat/montserrat-bold-webfont.ttf');
  src: url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff');

}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../fonts/montserrat/Montserrat-ExtraBold.otf');
}

@font-face {
  font-family: 'Montserrat-Hairline';
  src: url('../fonts/montserrat/Montserrat-Hairline.otf');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/montserrat/Montserrat-Light.otf');
  src: url('../fonts/montserrat/Montserrat-Light.otf');
  src: url('../fonts/montserrat/fs/montserrat-light-webfont.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/montserrat/fs/montserrat-light-webfont.svg#webfont') format('svg');
  src: url('../fonts/montserrat/fs/montserrat-light-webfont.ttf');
  src: url('../fonts/montserrat/fs/montserrat-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/montserrat/Montserrat-Regular.otf');
  src: url('../fonts/montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/montserrat/montserrat-regular-webfont.svg#webfont') format('svg');
  src: url('../fonts/montserrat/montserrat-regular-webfont.ttf');
  src: url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff');

}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/montserrat/Montserrat-SemiBold.otf');
}

@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url('../fonts/montserrat/Montserrat-UltraLight.otf');
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 100;
  font-family: 'Montserrat-Light';
  font-size: 16px;
}
a, a:hover{
  outline: 0;
  text-decoration: none;
}
@media (min-width: 1400px){
  .container {
    width: 1240px;
  }
}
ul, menu, dir {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-padding-start: 0px;
}
.bxslider{
  li{
    list-style: none;
  }
}
img{border:0}
.bold{
  font-weight: bold;
  font-family: 'Montserrat-Regular';
}
.white{
  color: white;
}
.orange{
  color: #ff895e;
}
.brown-green{
  color: rgb( 74, 103, 13 );
}

.green-bg{
  background-color: rgba(52, 160, 61, 0.851);
}
.light-green-bg{
  background-color: rgb( 235, 246, 203 );
}
.light-blue-bg{
  position: relative;
  background-color: #f8f8f8;
}
.container-fluid{
  padding: 0px;
}
.clear-pads{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.clear-margs{
  margin: 0!important;
}
.title{
  margin-bottom: 45px;
  line-height: 1;
  font-family: 'Montserrat-UltraLight';
}
.line{
  margin-top: 60px; margin-bottom: 60px; border-bottom: 1px solid #efefef; width: 100%;
}
.service-title{
  font-size: 21px;
}
@media (min-width: 1400px){
  .service-title{
    width: 100%;
  }
}
.service-type{
  padding-left: 0px;
  margin-bottom: 20px;
}
.short-text{
  margin: 0 auto;
  margin-bottom: 70px;
  //min-width: 500px;
  max-width: 850px;
  font-size: 16px;
}
#slider{
  .slider-container{
    height: 950px;

  }
  .bxslider ul li{
    overflow: hidden;
  }
  .amber-container,  .bx-wrapper, .bx-viewport{
    height: 950px;
    //background: #506df9;
  }

}
.ecolines-container{
  height: 950px;
}
.white-bg{
  background: white;
}
.blue-bg{
  background: #506df9;
}
.lighter-blue-bg{
  background: #038bc1;
}
.blue-bg-shape{
  background: url(../images/blue-bg.png) top center no-repeat;
  background-size: contain;
}
.amber-container{
  position: relative;
}

.inner-bg{
  position: relative;
  //top: 0px;
  //left: 0px;
  height: 900px;
  width: 100%;
}

#services{
  padding-top: 35px;
}

.center{
  width: 100%;
  text-align: center;
}
.services-list ul{
  -webkit-padding-start: 16px;
  font-size: 14px;
}
.monitor, .light-bulb, .magnifier, .lifebelt{
  width: 70px;
  height: 70px;
}
.monitor{
  background: url(../images/monitor.png) center center no-repeat;
}
.light-bulb{
  background: url(../images/light.png) center center no-repeat;
}
.magnifier{
  background: url(../images/magnifier.png) center center no-repeat;
}
.lifebelt{
  background: url(../images/lifebuoy.png) center center no-repeat;
}
.title-divider{
  //content: '';
  //position: absolute;
  //bottom: 0px;
  //left: 0px;
  width: 40px;
  height: 2px;
  background: #02f19c;
  margin-top: 24px;
  margin-bottom: 24px;
}
.project-count-wrap{
  margin-bottom: 50px;
}
.project-count{
  display: inline-block;
  height: 74px;
  width: 52px;
  background: url(../images/base.png) center center no-repeat;
  font-size: 60px;
  line-height: 1.3;
  color: #506df9;
}
.project-text{
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  font-size: 18px;
  padding-left: 20px;
}
 .technology, .industries, .categories{

   text-align: center;
 }
 #industries-top{
   margin-top: 75px;
   margin-bottom: 50px;
 }
.industries{
  height: 295px;
  padding-left: 0px;
  padding-right: 0px;
}
.industries:not(:last-of-type) /*, .technology:not(:last-of-type)*/{
  margin-right: 20px;
}
.industries-wrap{
  width: 100%;
  height: 100%;
  padding-top: 90px;
  position: relative;
  border-right: 1px solid #ebebeb;
  //border-bottom-right-radius: 3px;
  border-bottom: 1px solid #ebebeb;
  border-radius: 8px;
  background: url(../images/ellipses.png) center center;
  background-repeat: no-repeat;
  @include background-size(cover);
}
.industries-wrap:hover{
  .circle{
    -webkit-box-shadow: 2px 2px 6px 0px rgba(46,74,117,0.75);
    -moz-box-shadow: 2px 2px 6px 0px rgba(46,74,117,0.75);
    box-shadow: 2px 2px 6px 0px rgba(46,74,117,0.75);
    margin-top: 2px;
    margin-right: -2px;
  }
}

.icon-erp{
  background: url(../images/icon.png) center center no-repeat;
}
.icon-finances{
  background: url(../images/icon2.png) center center no-repeat;
}
.icon-logistics{
  background: url(../images/icon3.png) center center no-repeat;
}
.icon-outsorce{
  background: url(../images/icon4.png) center center no-repeat;
}
.industries-items{
  margin-bottom: 45px;
}
.industries-wrap .icon{
  width: 73px;
  height: 73px;
  display: inline-block;
  margin-bottom: 80px;
}
.name{
  font-size: 18px;
}
.count{
  position: absolute;
  top: -30px;
  right: 20px;

  background: #02f19c;
  border-radius: 50%;
  display: table;
}
.num{
  display: table-cell;
  vertical-align: middle;
}
.circle{
  width: 67px;
  height: 67px;
}
.more-txt{
  display: table-cell;
  vertical-align: middle;
}


#vacansy-form, #contact-form{
  .more-btn-pressed, .more-btn-hover{
    display: none;
  }
  .more-btn-pressed{
    background: url(../images/more-pressed.png);
    background-repeat: no-repeat;
    background-position-x: 2px;
    background-position-y: 2px;
  }
  .more-btn-hover{
    background: url(../images/more-hover.png) center center no-repeat;
  }
  .more-btn {
    background: url(../images/more.png) center center no-repeat;
    vertical-align: middle;
    display: table-cell;
  }

}
#vacansy-form button:hover, #contact-form button:hover {
  .more-btn{
    display: none;
  }
  .more-btn-hover{
    display: table-cell;
  }
}
#vacansy-form button:active, #contact-form button:active  {
  .more-btn-hover, .more-btn{
    display: none;
  }
  .more-btn-pressed{
    display: table-cell;
  }
}













.more {
  display: inline-block;
  .more-btn-pressed, .more-btn-hover{
    display: none;
  }
  .more-btn-pressed{
    background: url(../images/more-pressed.png);
    background-repeat: no-repeat;
    background-position-x: 2px;
    background-position-y: 2px;
  }
  .more-btn-hover{
    background: url(../images/more-hover.png) center center no-repeat;
  }
  .more-btn {
    background: url(../images/more.png) center center no-repeat;
    vertical-align: middle;
    display: table-cell;
  }
  a:hover {
    .more-btn{
      display: none;
    }
    .more-btn-hover{
      display: table-cell;
    }
  }
  a:active {
    .more-btn-hover, .more-btn{
      display: none;
    }
    .more-btn-pressed{
      display: table-cell;
    }
  }
}

.more a{
  display: table;
  color: black;
}

.brochure-txt, .brochure-icon, .brochure-icon .icon, .cover{
  display: inline-block;
}
.more-txt{
  font-size: 24px;
  padding: 0 25px;
  //font-family: 'Montserrat-Regular';
}
.border-bottom-gray{
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 100px;
  margin-bottom: 90px;
}
.border-bottom-blue{
  border-bottom: 1px solid #5589ff;
  padding-bottom: 100px;
}
.technology-wrap{
  margin-top: 20px;
  margin-bottom: 100px;
}
.technology{
  height: 140px;
  padding-top: 10px;
}
.technology:not(:last-of-type){
  border-right: 1px solid #e1e1e1;
}
.technology .icon{
 width: 77px;
 height: 50px;
 display: inline-block;
 margin-bottom: 35px;
}
.icon-net{
 background: url(../images/net.png) center center no-repeat;
}
.icon-open{
 background: url(../images/open.png) center center no-repeat;
}
.icon-ui{
 background: url(../images/ui.png) center center no-repeat;
}
.icon-mobile{
 background: url(../images/mobile.png) center center no-repeat;
}
.holder{
  position: absolute;
  width: 270px;
  height: 280px;
  top: 100px;
  left: 5%;
  display: none;
}
.coffee-holder{
  position: absolute;
  width: 251px;
  height: 188px;
  right: 7%;
  .cofe{
    position: absolute;
    top: 0px;
    max-width: 251px;
    max-height: 188px;
  }
  .pencil{
    position: absolute;
    bottom: -98px;
    left: 47px;
  }
}
.green{
  padding-top: 250px;
  background: url(../images/green.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 250px;
}
.pen_holder{
  position: absolute;
  top: 0px;
  max-width: 270px;
  max-height: 280px;
}
.shadow, .shadow2{
  -webkit-box-shadow: 5px 5px 25px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 25px 2px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 25px 2px rgba(0,0,0,0.75);
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
}
.shadow{
  width: 70%;
  height: 169px;

  left: 19%;
  z-index: 0;
}
.shadow2{
  width: 64%;
  height: 148px;
  left: 2%;
  z-index: 0;
}
.shadow3{
  width: 289px;
  height: 2px;
  left: 39px;
  -webkit-box-shadow: 5px 5px 25px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 25px 2px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 25px 2px rgba(0,0,0,0.75);
  transform: rotate(-30deg);
  position: absolute;
  bottom: -20px;
}
.partner-wrap{
  height: 375px;
  position: relative;
  width: 255px;
  font-family: 'Montserrat-Hairline';
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-radius: 8px;
  text-align: center;
  padding-top: 60px;
  color: #02f19c;
  overflow: hidden;

}
.partner-col{
  .opal{
    background: url(../images/logo/opal.png) center bottom no-repeat;
  }
  .ecolines{
    background: url(../images/logo/ecolines.png) center bottom no-repeat;
  }
  .rn{
    background: url(../images/logo/rn.png) center bottom no-repeat;
  }
  .rta{
    background: url(../images/logo/rta.png) center bottom no-repeat;
  }


  .opal,  .ecolines,  .rn,  .rta{
    width: 255px;
    height: 135px;
    //background-size: contain;
  }
}
.partner{
  width: 100%;
  height: 100%;
}
.roof:before{
  content: '';
  width: 195px;
  height: 230px;
  position: absolute;
  top: 0px;
  left: -100px;
  background: white;
  transform: skewX(-44deg);
  -webkit-transform: skewX(-44deg);
  -moz-transform: skewX(-44deg);
  -o-transform: skewX(-44deg);
  -ms-transform: skewX(-44deg);

}
.roof:after{
 content: '';
  width: 189px;
 height: 230px;
 position: absolute;
 top: 0px;
 left: 0px;
  background: url(../images/Line.png) center center no-repeat;
}

.years{
  width: 100%;

  display: inline-block;
}
.year{
  width: 100%;
  font-size: 115px;
  line-height: 1;
  margin-left: -400px;
  clear: both;
}
.year-txt{
  width: 100%;
  margin-bottom: 45px;
  text-align: left;
  padding-left: 52px;
  margin-left: -400px;
}
.partner .image{
  //width: 180px;
  height: 75px;
  margin-left: -600px;
  display: block;
  width: 100%;
}
.partner .image.active, .year.active, .year-txt.active{
  margin-left: 0px;
}
.exigen{
  background: url(../images/Exigen.png) center center no-repeat;
}
.kleintech{
  background: url(../images/Kleintech.png) center center no-repeat;
}
.btg{
  background: url(../images/BTG.png) center center no-repeat;
}
.dzc{
  background: url(../images/dzc.png) center center no-repeat;
}
.brochure-wrap{
  margin-bottom: 75px;
}
.brochure{
  display: inline-block;
  width: 250px;
}
.brochure-txt, .brochure-icon, .brochure-icon .icon{
  vertical-align: middle;
}
.brochure-icon{
  background: #506df9;
  @include border-radius( 50% );
  padding-top: 19px;
}
.brochure-icon .icon{
  background: url(../images/brochure-icon.png) center center no-repeat;
  width: 26px;
  height: 26px;
}
.all-case-stadies{
  height: 100%;
  .title{
    margin-top: 100px;
  }
}
.case-studies-wrap{
  margin-bottom: 75px;
  text-align: center;
}
.case-studies{
  height: 285px;
  text-align: center;
  //float: none;
  display: inline-block;
  z-index: 1;
}
@keyframes spawn {
  0%   {   opacity: 0;}
  100%  {  opacity: 1;}
}
@keyframes dissapear {
  0%  {  opacity: 1;}
  100%  {   opacity: 0;}
}
.case-studies:not(ng-hide){
  animation: spawn 1s;
}
.case-studies.ng-hide{
  animation: dissapear 1s;
}
.studie{
  width: 200px;
  margin: 0 auto;
  position: relative;
}
.case-studies .cover{
  height: 200px;
  width: 200px;
  @include border-radius( 50% );
  overflow: hidden;
  z-index: -2;
}
.white-layer{
  width: 200px;
  height: 200px;
  background: url(../images/circle.png) center center no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
}
.hover{
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 255, .5);
  border-radius: 50%;
  display: none;
  img{
    padding-top: 90px;
  }
}
.case-studies .image{
  width: 200px;
  height: 200px;
  background-size: cover;
  //display: table;
  @include border-radius( 50% );
  overflow: hidden;
  z-index: -3;
  //.hover{
  //  width: 100%;
  //  height: 100%;
  //  background: rgba(0, 0, 255, .5);
  //  text-align: center;
  //  vertical-align: middle;
  //  @include border-radius( 50% );
  //  @include move( 0px, -2px );
  //  display: none;
  //}
}
.studie:hover{
  .cover{
    height: 200px !important;
    width: 200px !important;
    @include border-radius( 50% );
    overflow: hidden;
    .image{
      //background-size: 150% auto !important;
      transform: scale(1.3);
      -moz-transform: scale(1.3);
      -webkit-transform: scale(1.3);
      -o-transform: scale(1.3);
      -ms-transform: scale(1.3); /* IE 9 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
      filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
    }
  }
  .hover{
     display: block;
   }
}

.portfolio-title{
  font-weight: bold;
}
.opal-transfer-image{
  background: url(../images/case-studies/opal-transfer.png) center center no-repeat;
}

#clients:before{

}
.light-blue{
  padding-top: 100px;
  background: url(../images/light-blue.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 100px;
  margin-bottom: 30px;
}
.valery, .nicolay, .edgar{
  width: 281px;
  height: 281px;
  border-radius: 50%;
  border: 28px solid white;
}
.team{
  border-radius: 50%;
  border: 28px solid #e5fcff;
  width: 337px;
  height: 337px;
  margin: 0 auto;
}
.valery{
  background: url(../images/company/valery.png) center center no-repeat;
}
.nicolay{
  background: url(../images/company/nicolay.png) center center no-repeat;
}
.edgar{
  background: url(../images/company/edgar.png) center center no-repeat;
}
.contact-info{
  margin-top: 20px;
  margin-bottom: 65px;
}
.pin, .pin2, .email, .phone, .fax{
  position: relative;
  padding-left: 30px;
  margin-bottom: 8px;
}
.pin:before{
  content: '';
  position: absolute;
  top: 4px;
  left: 0px;
  background: url( ../images/pin.png) center center no-repeat;
  height: 17px;
  width: 12px;
}
.email:before{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  background: url( ../images/email.png) center center no-repeat;
  height: 12px;
  width: 17px;
}
.phone:before{
  content: '';
  position: absolute;
  top: 3px;
  left: 0px;
  background: url( ../images/phone.png) center center no-repeat;
  height: 15px;
  width: 15px;
}
.fax:before{
  content: '';
  position: absolute;
  top: 2px;
  left: -2px;
  background: url( ../images/fax.png) center center no-repeat;
  height: 19px;
  width: 19px;
}
.contact-form-input{
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
.contact-form-input:last-of-type{
  margin-bottom: 50px;
}
.send{
  height: 62px;
  padding: 0px;
  width: initial;
  margin: 0 auto;
  margin-top: 30px;
  border: none;
}
#career{
  padding-top: 65px;
  padding-bottom: 65px;
}
#company form{
  margin-bottom: 100px;
}
.form-control{
  border-radius: 0px;
}
#career table{
  width: 100%;
}
.soc-icons{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 45px;
}
.soc-icons a:not(:last-of-type){
  margin-right: 40px;
}
.footer-info{
  color: white;
  text-align: center;
}
#vacansy a{
  font-size: 24px;
  color: rgb( 33, 33, 33 );
  font-family: "Montserrat-Light";
  outline: none;
  text-decoration: none;
  height: 70px;

}
.vacansy{
  border-bottom: 1px solid #e3e3e3;
  th{
    height: 40px;
    vertical-align: top;
  }
  td{
    line-height: 1.6;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  tr:not( :last-of-type ){
    td:after{
      content: "";
      height: 2px;
      background-color: #02f19c;
      width: 30px;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
  }


}
.vacansy:last-of-type{
  margin-bottom: 100px;
}
.plus{
  height: 70px;
  width: 22px;
  float: right;
  display: inline-block;
}
.carrer-name{
  display: inline-block;
  line-height: 70px;
  color: #000;
  width: 96%;
  width: calc( 100% - 22px );
}
.plus{
  background: url(../images/plus.png) center center no-repeat;
  background-size: 22px 22px;
}
.plus.open{
  background: url(../images/minus.png) center center no-repeat;
  background-size: 22px 2px;
}
.categories{
  margin-bottom: 70px;
}
.category-wrap, .category{
  display: inline-block;
}
.categories .category:not(:first-of-type){
  margin-left: 1.5em;
}
.category.active{
  font-weight: bold;
}
.category{
  cursor: pointer;
}

.case-studies .image, .category{
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all  .4s;
}
.custom-software-bg, .amber-bg, .design-bg, .ecolines-bg, .mac, .city{
  transition: all .4s;
}
.opal-bg{
  transition: all .6s;
}
.year{
  -webkit-transition: all .4s cubic-bezier(0.465, 0.615, 0.370, 1.235);
  -moz-transition: all .4s cubic-bezier(0.465, 0.615, 0.370, 1.235);
  -o-transition: all .4s cubic-bezier(0.465, 0.615, 0.370, 1.235);
  transition: all  .4s cubic-bezier( 0.465, 0.615, 0.370, 1.15 );
}
 .laptop, .sky{
 -webkit-transition: all .5s cubic-bezier(0.465, 0.615, 0.370, 1.235);
  -moz-transition: all .5s cubic-bezier(0.465, 0.615, 0.370, 1.235);
 -o-transition: all .5s cubic-bezier(0.465, 0.615, 0.370, 1.235);
 transition: all  .5s cubic-bezier( 0.465, 0.615, 0.370, 1.15 );
}
.title, .text-from-right, .text, .laptop, .data{
  transition: all .8s;
}
.sky .trees{
  //transition: all .7s;
}
.year{
  -webkit-transition: all 1s cubic-bezier(0.000, 1.025, 0.580, 1.000);
  -moz-transition: all 1s cubic-bezier(0.000, 1.025, 0.580, 1.000);;
  -o-transition: all 1s cubic-bezier(0.000, 1.025, 0.580, 1.000);;
  transition: all  1s cubic-bezier(0.000, 1.025, 0.580, 1.000);
}
.year-txt{
  @include animate( all, 1.5s, cubic-bezier(0.000, 1.025, 0.580, 1.000) );
}
.image.active {
  @include animate( all, 1.3s, cubic-bezier(0.000, 1.025, 0.580, 1.000) );
}
.pens{
  @include animate( all, .7s, cubic-bezier(0.465, 0.615, 0.370, 1.235) );
}

@keyframes macSlideIn {
  0%   {right: -2000px;}
  50%   {right: 15px;}
  75%   {right: -5px;}
  100% {right: 0px;}
}
@keyframes macSlideOut {
  0%   {right: 0px;}
  25%   {right: -5px;}
  //50%   {right: 15px;}
  100% {right: -2000px;}
}
@keyframes keyboardSlideIn {
  0%   {display: none; margin-left: 2000px;}
  50%   { display: inline-block; margin-left: -15px;}
  75%   {margin-left: 5px;}
  100% {margin-left: 0px;}
}
@keyframes keyboardSlideOut {
  0%   {margin-left: 0px;}
  25%   {margin-left: -15px;}
  //50%   {margin-left: -15px;}
  100% {margin-left: 2000px;}
}
@keyframes right-to-left {
  0%   {left: 1000px;}

  50%   {left: -15px;}
  75%   {left: 5px;}
  100% {left: 0px; opacity: 1;}
}
@keyframes right-to-left-faster {
  0%   {left: 5000px;}
  50%   {left: -7px;}
  75%   {left: 2px;}
  100% {left: 0px; opacity: 1;}
}
@keyframes left-to-right {
  0%   {left: -2000px;}

  75%   {left: 15px;}
  100% {left: 0px;}
}
@keyframes left-to-right2 {
  0%   {left: 0px;}
  25%   {left: -15px;}
  100% {left: 2000px;}
}
@keyframes spawn-bg {
  0% {background-position-y: 500%;}
  100% {background-position-y: 90%;}
}
@keyframes spawn-bg-reverse {
  0% {background-position-y: 90%;}
  100% {background-position-y: 500%;}
}
@keyframes up {
  0% {bottom: -1000px;}
  75%   {bottom: 0px;}
  //75%   {bottom: 0px;}
  100%   { opacity: 1; bottom: -5px;}
}
@keyframes up2 {
  0% {bottom: -1000px;}
  50%   {bottom: 20px;}
  75%   {bottom: 5px;}
  100%   { opacity: 1; bottom: 0px;}
}
@keyframes up3 {
  0% {bottom: -1500px;}
  //50%   {bottom: 5px;}
  75%   {bottom: 3px;}
  100%   { opacity: 1; bottom: -2px;}
}
@keyframes up3-reverse-motion {
  0% { bottom: -2px;}
  25%  {bottom: 3px;}
  //50%   {bottom: 5px;}
100%   {bottom: -1500px;}
}
@keyframes spawn-up {
  0% { opacity: 0; bottom: -1000px;}
  50%   { opacity: 0; bottom: -100px;}
  75%   { opacity: 0.5; bottom: 10px;}
  100%   { opacity: 1; bottom: 0px;}
}
@keyframes spawn-down {
  0% { opacity: 1; bottom: 0px;}
  25%   { opacity: 0.5; bottom: 10px;}
  50%   { opacity: 0; bottom: -100px;}
  100%   { opacity: 0; bottom: -1000px;}
}
@keyframes down {
  0%   {  bottom: -5px;}
  25%  {bottom: 0px;}
  //75%  {bottom: 20px;}
  100% {bottom: -1000px;}
}
@keyframes up-elastic {
  0% {bottom: -500px;}
  50%   {bottom: 185px;}
  75%   {bottom: 145px;}
  100%  { bottom: 160px;}
}
@keyframes to-sky-elastic {
  0% {
    bottom: 160px; }
  25% {
    bottom: 145px; }
  100% {
    bottom: 1000px; }
}
@keyframes nexus-spawn{
  0%   { left: -2000px;}
  50%  { left: 35%;}
  75%  { left: 28%;}
  100% { left: 30%;}
}
@keyframes iphone-spawn{
  0%   { right: -2000px;}
  50%  { right: 20%;}
  75%  { right: 14%;}
  100% { right: 15%;}
}
@keyframes nexusGoBack{
  0%   { left: 30%;}
  25%  { left: 35%;}
  100%  {left: -2000px;}
}
@keyframes iphoneGoBack{
  0%    { right: 15%;}
  25%  { right: 20%;}
  100% { right: -2000px;}
}
@keyframes rotateUp {
  0% {
    bottom: -1500px;
    position: absolute;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  }


  100% {
    bottom: -600px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  }

}
@keyframes rotateDown {
  0% {
    bottom: -600px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  }

  100% {
    bottom: -1500px;
    position: absolute;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  }
}
@keyframes bookSlideIn {
  0% {left: -1000px; }
  50% {left: 20px;}
  75% {left: -5px;}
  100% { left: 0px;}
}
@keyframes bookSlideOut {
  0% {left: 0px;}
  50% {left: 20px;}
  100% {left: -1000px;}
}
@keyframes slideInFromLeft {
  0% {    margin-left: -1000px; }
  50% {margin-left: 20px;}
  75% {margin-left: -5px;}
  100% {     margin-left: 0px;}
}
@keyframes slideOutFromLeft {
  0%   { margin-left: 0px;}
  50%  { margin-left: 20px;}
  100% { margin-left: -1000px; }
}
@keyframes roadSlideIn {
  0% { right: -2000px;}
  100% { right: 0px;}
}
@keyframes roadSlideOut {
  0% { right: 0px;}
  100% { right: 2000px;}
}
.inner-bg.active{
  .text-from-right{
    .title:nth-child(1){
      animation: right-to-left 1.2s;
    }
    .title:nth-child(2){
      animation: right-to-left 1.1s;
    }
    .description{
      animation: right-to-left 1s;
    }
  }
  .mac{
    animation: right-to-left 1s;
  }
  .laptop{
    animation: right-to-left 1s;
  }
  .data{
    animation: right-to-left-faster 1.2s;
  }
  .city{
    animation: up .9s;
  }
  .clouds{
    animation: up 1s;
  }
  .rocket{
    animation: up-elastic 1s;
    bottom: 160px;
  }
  .bus{
    animation: left-to-right 1s;
  }
  .sky{
    animation: spawn-bg 1.1s;
    background-position-y: 90%;
    .title{
      animation: spawn-up 1.2s;
      bottom: 0px;
    }
    .ecolines-slide-text{
      animation: spawn-up 1.15s;
      bottom: 0px;
    }
  }
  .trees{
    animation: up3 1s;
    bottom: -2px;
  }
  .nexus{
    animation: nexus-spawn 1s;
  }
  .iphone{
    animation: iphone-spawn 1s;
  }
  .london{
    animation: rotateUp 1s;
  }
  .mac2{
    animation: macSlideIn 1s;
  }
  .keyboard, .mouse{
    animation: keyboardSlideIn 1.1s;
  }
  .notebook{
    animation: bookSlideIn 1.15s;
  }
  .text-from-left{
    .title{
      animation: slideInFromLeft 1.1s;
      margin-left: 0px;
    }
    .text{
      animation: slideInFromLeft 1.2s;
      margin-left: 0px;
    }
  }
  .road{
    animation: roadSlideIn .7s;
  }
}
.inner-bg.active.leaving{
  .rocket{
    animation: to-sky-elastic .9s;
  }
  .clouds{
    animation: down .9s;
  }
  .bus{
    animation: left-to-right2 .8s;
  }
  .trees{
    animation: up3-reverse-motion .5s;
    bottom: -2000px;
  }
  .sky{
    animation: spawn-bg-reverse .5s;
  }
  .london{
    animation: rotateDown .9s;
    bottom: -1500px;
  }
  .sky{
    animation: spawn-bg-reverse .5s;
    background-position-y: 500%;
    .ecolines-slide-text{
      animation: spawn-down .5s;
      bottom: -1000px;
    }
    .title{
      animation: spawn-down .6s;
      bottom: -1000px;
    }
  }
  .nexus{
    animation: nexusGoBack .9s;
  }
  .iphone{
    animation: iphoneGoBack .9s;
  }
  .mac2{
    animation: macSlideOut .9s;
    opacity: 0;
  }
  .keyboard, .mouse{
    animation: keyboardSlideOut .9s;
    margin-left: 2000px;
  }
  .notebook{
    animation: bookSlideOut .9s;
    left: -1000px;
  }
  .text-from-left{
    .title{
      animation: slideOutFromLeft .5s;
      margin-left: -1000px;
    }
    .text{
      animation: slideOutFromLeft .5s;
      margin-left: -1000px;
    }
  }
  .road{
    animation: roadSlideOut .7s;
  }
}
.brief-project-info{
  div{
    height: 40px;
  }
  margin-bottom: 50px;
}

.padd-top-50{
  padding-top: 50px;
}
//.table{
//  display: table;
//  .column{
//    display: table-cell;
//    width: 50%;
//  }
//}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot?-rdnm34');
  src:url('../fonts/icomoon/icomoon.eot?#iefix-rdnm34') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.woff?-rdnm34') format('woff'),
  url('../fonts/icomoon/icomoon.ttf?-rdnm34') format('truetype'),
  url('../fonts/icomoon/icomoon.svg?-rdnm34#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

div.cs-skin-border {
  background: transparent;
  font-size: 2em;
  font-weight: 700;
  max-width: 600px;
}

@media screen and (max-width: 30em) {
  .cs-skin-border { font-size: 1em; }
}

.cs-skin-border > span {
  border: 5px solid #000;
  border-color: inherit;
  transition: background 0.2s, border-color 0.2s;
}

.cs-skin-border > span::after,
.cs-skin-border .cs-selected span::after {
  font-family: 'icomoon';
  content: '\e000';
}

.cs-skin-border ul span::after {
  content: '';
  opacity: 0;
}

.cs-skin-border .cs-selected span::after {
  content: '\e00e';
  color: #ddd9c9;
  font-size: 1.5em;
  opacity: 1;
  transition: opacity 0.2s;
}

.cs-skin-border.cs-active > span {
  background: #fff;
  border-color: #fff;
  color: #2980b9;
}

.cs-skin-border .cs-options {
  color: #2980b9;
  font-size: 0.75em;
  opacity: 0;
  transition: opacity 0.2s, visibility 0s 0.2s;
}

.cs-skin-border.cs-active .cs-options {
  opacity: 1;
  transition: opacity 0.2s;
}

.cs-skin-border ul span {
  padding: 1em 2em;
  backface-visibility: hidden;
}

.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span {
  background: #f5f3ec;
}
@import "rn";
@import "els";
@import "opal-online";
@import "medium";
@import "small";
