#ept{
  img{
    max-width: 100%;
  }
  .ept-title {
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
  }
  .top-info{
    img, .device-wrap{
      z-index: 1;
    }
  }
  .ept-text {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;

    line-height: 2;
    text-align: center;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
  #yellow-city{
    background: url(../images/ept/yellow-city.png) center center no-repeat;
    background-size: 100% 100%;
    padding: 210px 15px 120px;
    margin-top: -180px;
  }
  .ept-project {
    text-align: center;
    //width: 950px;
    margin: 0 auto;
  }
  #yellow-shape{
    background: url(../images/ept/yellow-shape.png) center center no-repeat;
    background-size: 100% 100%;
    padding: 210px 15px 120px;
    .ept-item {
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      color: rgb(55, 55, 55);
      font-weight: bold;
      line-height: 1.5;
      text-align: left;
      max-width: 700px;
      display: -webkit-flex;
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
    .ept-item-number-1, .ept-item-number-5 {
      padding-left: 11px;
      padding-right: 11px;
    }
    .ept-item-number-1, .ept-item-number-2, .ept-item-number-3, .ept-item-number-4, .ept-item-number-5 {
      display: inline-block;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 5px 5px 0 rgba(255, 185, 36, 0.8);
      padding: 5px 10px;
      height: 31px;
      width: 31px;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      color: rgb(55, 55, 55);
      font-weight: bold;
      margin-right: 20px;
    }
  }
  #yellow-shape2{
    background: url(../images/ept/yellow-shape2.png) center center no-repeat;
    background-size: 100% 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    .ept-sub-title {
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      color: rgb(55, 55, 55);
      font-weight: bold;
      line-height: 2.222;
      text-align: center;
      margin-bottom: 40px;
    }
    .els-table{
      width: 650px;
      margin: 0px auto;
      display: table;
      .ept-block {
        display: table-cell;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 5px 5px 1px rgba(255, 185, 36, 0.8);
        margin-right: 2px;
        width: 50%;
        padding: 25px 0 20px;

        .ept-title {
          font-size: 14px;
          font-family: "Montserrat", sans-serif;
          color: rgb(55, 55, 55);
          font-weight: bold;
          line-height: 1.714;
          text-align: center;
          text-transform: uppercase;
          margin: 0 auto 5px;
        }
        .ept-text {
          font-size: 14px;
          font-family: "Montserrat", sans-serif;
          color: rgb(55, 55, 55);
          line-height: 2;
          text-align: center;
          margin-bottom: 0;
        }
      }
      .ept-block:nth-last-child(1) {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }
      .ept-block:first-of-type {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
      }
    }
  }
  .ept-evolution .ept-sub-title {
    max-width: 450px;
    margin: 60px auto 0;
    text-align: center;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(55, 55, 55);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.714;
  }
  .side-image {
    position: absolute;
  }
  .v1{
    top: 0;
    left: 0;
  }
  .v2{
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  .v3{
    left: 0;
    bottom: 0;
  }
  .ept-footer{
    width: 100%;
  }
}