.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  left: 0px;

}
#slider{
  overflow: hidden;
  //opacity: 0;
  .bx-wrapper .bx-viewport {

    background: #506df9;
  }
}

@media (min-width: 768px) {
  #slider{
    margin-top: -100px;
  }
}

  /*-------------------------------------------*/
.city{
  position: absolute;
  bottom: -1000px;
  //opacity: 0;
  left: 0px;
  height: 900px;
  width: 100%;

  background: url(../images/amber/City.png) bottom center no-repeat;
}
.notebook{
  background: url(../images/design/Notebook.png) center center no-repeat;
  background-size: contain;
  height: 348px;
  position: absolute;
  left: -1000px;
  //bottom: -54px;
  opacity: 0;
}
.keyboard{
  background: url(../images/design/keyboard.png) right center no-repeat;
  height: 245px;
  margin-left: 1000px;
  @include background-size(contain);
}
.overflow-hidden{
  overflow: hidden;
  height: 245px;
}
.mouse{
  background: url(../images/design/mouse.png) right center no-repeat;
  height: 120px;
  margin-left: 1000px;
  @include background-size(contain);
}
.pens{
  background: url(../images/pen_holder.png) right center no-repeat;
  height: 150px;
  position: absolute;
  bottom: -115px;
  left: 1000px;
  opacity: 0;
  @include background-size(contain);
}
.computer-wrap{
  height: 260px;
}
.mac2{
  opacity: 0;
  background: url(../images/design/iMac2.png) right top no-repeat;
  height: 397px;
  width: 100%;
  right: -1000px;
  margin-bottom: 30px;
  //top: -165px;
  //position: absolute;
  @include background-size(contain);
}
.amber-bg{
  background: url(../images/amber/amber-bgg.png) center center no-repeat;
  background-position-x: 10000px;
  padding-top: 320px;
}
.design-bg{
    background: url(../images/design/design.png) center center no-repeat;
  left: -10000px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}


.custom-software-bg{
  background-position: 0px -1000px;
  background: url(../images/custom-software/custom-software.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -2000px;
}
.ecolines-container{
  background: url(../images/custom-software/custom-software.png);
  background-repeat: no-repeat;
  .inner-bg{
    overflow: hidden;
  }
}
.custom-software-bg.active{
  background-position: 0px 0px;
}
.amber-container{
  //background: url(../images/design/design.png) center top no-repeat;


}
.custom-software-container{
  .inner-bg{
    padding-top: 250px;
  }
  background: url(../images/amber/amber-bgg.png) center center no-repeat;
}
.amber-bg.active, .first-slide.amber-bg {
  background-position-x: 0px;
}
.amber-container{
  overflow: hidden;
}
//.text-from-right{
//  padding-left: 315px;
//}
.text-from-left{
  opacity: 0;
  height: 100%;
  .title{
    margin-left: -1000px;
  }
  .title:first-of-type{
    //margin-bottom: 0px;
  }
  .text{
    width: 100%;
    margin-left: -1000px;
  }
}
.inner-bg .text-from-right{
  //left: 2500px;
  opacity: 0;
}
.mac{
  background: url(../images/amber/iMac.png) left bottom no-repeat;
  @include background-size(contain);
  margin-top: 10px;
  height: 620px;
  opacity: 0;
}
.laptop{
  background: url(../images/custom-software/laptop.png) bottom center no-repeat;
  height: 557px;
  background-size: contain;
  position: absolute;
}
.clouds{
  background: url(../images/custom-software/clouds.png) center bottom no-repeat;
  background-size: contain;
  height: 358px;
  position: absolute;
  bottom: -1000px;
}
.data{
  background: url(../images/custom-software/data.png) bottom left no-repeat;
  height: 240px;
  //position: absolute;
  left: 5000px;
  opacity: 0;
}
.inner-bg .laptop{
  //left: 5000px;
  opacity: 0;
  bottom: -45px;
}
.rocket{
  position: absolute;
  bottom: -1000px;
  right: 37%;
  height: 457px;
  width: 190px;
  background: url(../images/custom-software/rocket.png) center center no-repeat;
  background-size: contain;
}
.inner-bg .ecolines-bg{
  background: url(../images/ecolines/ecolines-bg.png) center center no-repeat;
  left: -10000px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
}
.sky{
  background: url(../images/ecolines/sky.png) center 90% no-repeat;
  padding-top: 270px;
  width: 100%;
  height: 90%;
  height: calc(100% - 190px);
  position: absolute;
  //top: 1000px;
  overflow: hidden;
  .title{
    text-align: center;
  }
  .ecolines-slide-text{
    div{
      max-width: 680px;
      margin: 0 auto;
    }
  }
}
.trees{
  background: url(../images/ecolines/trees.png) center bottom no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -2px;
}
.highway{
  width: 100%;
  height: 190px;
  position: absolute;
  bottom: 0px;
}
.road{
  background: url(../images/ecolines/road.png) top center no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: -5000px;
}
.bus{
  background: url(../images/ecolines/bus.png) center center no-repeat;
  height: 135px;
  background-size: contain;
  position: absolute;
  top: -85px;
  left: -5000px;
}
.design-container{
  .inner-bg{
    padding-top: 155px;
  }
  background: url(../images/opal/opal.png) center center no-repeat;
  .text-from-left{
    margin-top: 205px;
    max-height: 500px;
    transform: translateX(260px);
  }
  .title{
    max-width: 370px;
  }
}
.opal-container{
  background: url(../images/ecolines/ecolines-bg.png) center center no-repeat;
  overflow: hidden;
  .inner-bg{
    padding-top: 240px;
    .opal-bg{
      background: url(../images/opal/opal.png) center center no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: -5000px;
    }
  }
  .phones{
    position: absolute;
    bottom: 0px;
    width: 100%;

    .nexus{
      height: 595px;
      background: url(../images/opal/nexus.png) right bottom no-repeat;
      background-size: contain;
      position: absolute;
      bottom: 0px;
      left: -5000px;
    }
    .iphone{
      position: absolute;
      bottom: 0px;
      height: 565px;
      right: -5000px;
      background: url(../images/opal/iphone.png) left bottom no-repeat;
      background-size: contain;
    }
  }
  .london{
    background: url(../images/opal/london.png) center top no-repeat;
    background-size: contain;
    width: 90%;
    height: 1000px;
    bottom: -1000px;
    position: absolute;
    right: 0px;

    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  }
}
.inner-bg.active{
  .opal-bg{
    top: 0px;
  }
  .city {
    bottom: -5px;
  }
  .text-from-right{
    //left: 0px;
    opacity: 1;
  }
  .mac{
    //left: 0px;
    opacity: 1;

  }
  .laptop{
    //left: 0px;
    opacity: 1;
  }
  .sky{
    //top: 0px;
  }
  .road{
    right: 0px;
  }
  .bus{
    left: 0px;
  }
  .nexus{
    left: 30%;
  }
  .iphone{
    right: 15%;
  }
  .london{
    bottom: -600px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  }
  .data{
    left: 0px;
    opacity: 1;
  }
  .rocket{
    //bottom: 160px;
  }
  .clouds{
    bottom: 0px;
  }
  .design-bg{
    left: 0px;
  }
  .text-from-left{
    opacity: 1;
    .title{
      margin-left: 0px;
    }
    .text{
      margin-left: 0px;
    }
  }
  .notebook{
    left: 0px;
    opacity: 1;
  }
  .mac2 {
    opacity: 1;
    right: 0px;
  }
  .keyboard{
    margin-left: 0px;
    width: 60%;
    display: inline-block;
  }
  .mouse {
    margin-left: 0px;
    display: inline-block;
    width: 15%;
    vertical-align: top;
  }
  .pens {
    left: 0px;
    opacity: 1;
  }
  .custom-software-bg{
    top: 0px;
  }

}
.inner-bg.active.leaving{
  .mac2 {
    opacity: 0;
  }
  .city {
    bottom: -1000px;
  }
  .text-from-right{
    opacity: 0;
  }
  .mac{
    opacity: 0;
  }
  .laptop{
    opacity: 0;
  }
  .road{
    right: 5000px;
  }
  .bus{
    left: 5000px;
  }
  .sky{
    //top: 1000px;
  }
  .nexus{
    left: -5000px;
  }
  .iphone{
    right: -5000px;
  }
  .london{
    bottom: -1000px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  }
  .data{
    opacity: 0;
  }
  .rocket{
    bottom: 2000px;
  }
  .clouds{
    bottom: -2000px;
  }
}

.inner-bg.active .ecolines-bg{
  background: url(../images/ecolines/ecolines-bg.png) center center no-repeat;
  left: 0px;
}




#clients{
  //max-width: 820px;

  .client-slide{
    margin-top: 25px;
    width: 820px;
    height: 415px;
    background: white;


    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all  .2s;
    .client-name, .client-position, .client-description{
      opacity: .5;
    }

  }
  .client-slide.active{
    margin-top: 0px;
    opacity: 1;
    height: 465px;
    .client-name, .client-position, .client-description{
      opacity: 1;
    }
  }
  .client-slide-wrap{
    text-align: center;
    background: url(../images/quote.png);
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 45%;
    background-size: 132px 104px;
    width: 100%;
    height: 100%;
    padding-top: 110px;
    padding-right: 70px;
    padding-left: 70px;
  }

  .client-slide.active .client-slide-wrap{
    padding-top: 140px;
    padding-right: 110px;
    padding-left: 110px;
  }

  .client-slider li, .client-slide.active, .client-slide{
    border-radius: 10px;
  }
  .bx-wrapper .bx-viewport{
    background: #02f19c;;
  }
  .bx-viewport{
    overflow: visible !important;
    border-radius: 10px;
  }
  .client-name{
    color: #506df9;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .client-position{
    margin-bottom: 30px;
  }
  .client-position, .client-description{
    font-size: 14px;
  }
  .bx-wrapper .bx-controls-direction a {

    width: 67px;
    height: 67px;
  }
  .bx-wrapper .bx-prev {
    left: -31px;
    background: url(../images/arrow-left.png) center center no-repeat;
  }
  .bx-wrapper .bx-next {
    right: -31px;
    background: url(../images/arrow-right.png) center center no-repeat;
  }


}