@media (min-width: 992px){
  .partner-wrap:not(:last-of-type){
    margin-right: 55px;
  }
  .service-title{
    padding: 0px;
  }
  .monitor, .light-bulb, .magnifier, .lifebelt {
    margin-bottom: 25px;
  }
  #rn .palka .dots:before{
    content: '';
    position: absolute;
    top: 50%;
    top: calc( 50% + 5px);
    right: -150px;
    width: 301px;
    height: 1px;
    background-color: #b1d1b2;
  }
}

@media (max-width: 991px){
  body, .short-text{
    font-size: 14px;
  }
  .title {
    font-size: 36px;
  }
  .name {
    font-size: 15px;
  }
  .nav > li > a {
    padding-right: 10px;
    padding-left: 10px;
  }
  .amber-bg {
    padding-top: 150px;
    //text-align: center;
    //.title {
    //  display: inline-block;
    //}
  }
  .partner-wrap{
    margin: 0 auto;
  }
  .partner-col .opal, .partner-col .ecolines, .partner-col .rn, .partner-col .rta{
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
  }
  .service-type {
    margin-bottom: 80px;
  }
  .exigen-img1{
    text-align: center;
    padding-top: 20px;
  }
  #rn .top-info {
    height: 540px;
  }

}
@media (max-width: 767px){
  #slider{
    display: none;
  }
  .navbar-default {
    background-color: #506df9;
    border-color: transparent;
  }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
  }
  .navbar-nav {
    margin: 7.5px 0px;
  }
  .navbar-brand {
    float: left;
    padding: 5px 30px;
  }
  .screen{
    text-align: center;
    padding-bottom: 0px;
  }
}
@media (min-width: 768px){
  #exigen{
    .brief-project-info{
      width: 230px;
      padding-left: 40px;
    }
  }
  .small-title {
    margin-top: 50px;
  }

}
@media (min-width: 600px){
  .palka {
    background: url(../images/rn/line1.png) center center no-repeat;
    background-size: contain;
  }
  .dots:before{
    content: '';
    position: absolute;
    top: 50%;
    top: calc( 50% + 5px);
    right: -75px;
    width: 151px;
    height: 1px;
    background-color: #b1d1b2;
  }
  .slide-in-right:after{
    content: '';
    position: absolute;
    top: 50%;
    right: -5px;
    width: 11px;
    height: 11px;
    border-radius: 10px;
    background-color: #b1d1b2;
  }
  .slide-in-right{
    padding-right: 50px;
  }
  .slide-in-left {
    padding-left: 50px;
  }
}
@media (min-width: 600px)and (max-width: 767px){
  .service-type{
    margin-left: 25%;
    width: 50%;
  }
}
@media (max-width: 767px){
  #rn .palka .module{
    display: block;
  }
  #rn .palka .slide-in-left .module{
    float: none;
  }
  #rn #system_parts img {
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .green-lime {
    height: 150px;
  }
}
@media (min-width: 500px){
  #rn .palka .slide-in-right, #rn .palka .slide-in-left {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
  #rn .palka {
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 499px){
  #rn .palka .slide-in-right, #rn .palka .slide-in-left {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 50px;
    text-align: center;
  }
}