@media (min-width: 992px){
  .els-question {
    margin-left: 3%;
  }
  .els-items {
    width: 980px;
  }
  #els .els-quote {
    width: 780px;
  }
  .partner-wrap:not(:last-of-type){
    margin-right: 55px;
  }
  .service-title{
    padding: 0px;
  }
  .monitor, .light-bulb, .magnifier, .lifebelt {
    margin-bottom: 25px;
  }
  #rn .palka .dots:before{
    content: '';
    position: absolute;
    top: 50%;
    top: calc( 50% + 5px);
    right: -150px;
    width: 301px;
    height: 1px;
    background-color: #b1d1b2;
  }
}

@media (max-width: 991px){
  body, .short-text{
    font-size: 14px;
  }
  .title {
    font-size: 36px;
  }
  .name {
    font-size: 15px;
  }
  .nav > li > a {
    padding-right: 10px;
    padding-left: 10px;
  }
  .amber-bg {
    padding-top: 150px;
    //text-align: center;
    //.title {
    //  display: inline-block;
    //}
  }
  .partner-wrap{
    margin: 0 auto;
  }
  .partner-col .opal, .partner-col .ecolines, .partner-col .rn, .partner-col .rta{
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
  }
  .service-type {
    margin-bottom: 80px;
  }
  .exigen-img1{
    text-align: center;
    padding-top: 20px;
  }
  #rn .top-info {
    height: 540px;
  }
  #els .els-quote {
    width: 90%;
    .els-title {
      font-size: 24px;
    }
  }
  #els .els-block-content{
    max-width: 100%;
  }
  .industries{
    margin-bottom: 50px;
  }
  #clients{
    div.bx-wrapper{
      max-width: 700px !important;
    }
    .client-slide{
      width: 700px;
    }
  }
  .border-bottom-blue {
    padding-bottom: 0px;
  }
  .top-info{
    .title {
      font-size: 32px;
    }
  }
  #els .top-info .els-ticket {
    width: 650px;
    padding-left: 70px;
  }
  #els #yellow-bg2 {
    padding-bottom: 50px;
  }
}
@media (max-width: 767px){
  #rn .palka .module{
    display: block;
  }
  #rn .palka .slide-in-left .module{
    float: none;
  }
  #rn #system_parts img {
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .green-lime {
    height: 150px;
  }
  .bx-wrapper .bx-controls-direction a {

    width: 67px;
    height: 67px;
  }
  .team{
    margin-bottom: 15px;
  }
  .short-text {
    max-width: 80%;
  }
  #opal-bop{
    .title{
      text-align: center;
    }
  }
  #els {
    .yellow{
      background: #ffe014;
    }
    .animation-block-text {
      margin-top: 0px;
    }
    #yellow-bg2 {
      margin-top: 20px;
    }
    .els-block-content {
      margin-top: 0px;
    }
  }

  .ipad-wrap{
    text-align: center;
    img{
      float: none;
    }
  }
  #els .top-info .els-ticket {
    height: 320px;
  }
  #slider{
    display: none;
  }
  .navbar-default {
    background-color: #506df9;
    border-color: transparent;
  }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
  }
  .navbar-nav {
    margin: 7.5px 0px;
  }
  .navbar-brand {
    float: left;
    padding: 5px 30px;
  }
  .screen{
    text-align: center;
    padding-bottom: 0px;
  }
  #info-graphic{
    display: none;
  }
  .industries{
    margin: 0px auto 50px;
    float: none;
  }
  #clients{
    div.bx-wrapper{
      max-width: 500px !important;
    }
    .client-slide{
      width: 500px;
    }
    .client-slide.active .client-slide-wrap{
      padding-top: 60px;
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  .circle {
    width: 50px;
    height: 50px;
  }
  .more {
    .more-btn-pressed {
      background-size: 100% 100%;
      background-position-x: 0px;
      background-position-y: 0px;
    }
  }
  #vacansy-form .more-btn-pressed, #contact-form .more-btn-pressed {
    background-size: contain;
    background-position-x: 0px;
    background-position-y: 0px;
  }
  .brochure-icon {
    padding-top: 12px;
  }
  .top-info .title {
    font-size: 28px;
  }
  .opex-info-pic{
    position: absolute;
  }
  .center-xs{
    text-align: center;
  }
  #opal-bop .excerpt-text{
    font-size: 16px;
    position: absolute;
    top: 10px;
  }
  #els {
    .els-title {
      font-size: 26px;
    }
    .top-info{
      padding-top: 40px;
      padding-bottom: 100px;
      .els-text {
        margin: 20px auto;
      }
      .els-ticket{
        background: transparent;
      }
    }
    .yellow .els-title{
      margin-bottom: 10px;
    }
    #yellow-shape {
      margin-top: 0px;
    }
    .centred{
      padding: 0px 20px;
    }
    .about{
      padding-top: 40px;
    }
    .animation-block-text{
      padding-left: 30px;
    }
    #yellow-bg{
      padding-bottom: 90px;
    }
    .els-quote{

      .els-title {
        font-size: 20px;
      }
    }
  }
  #eow{
    img{
      max-width: 100%;
    }
    .ows-title{
      font-size: 26px;
      margin-bottom: 10px;
    }
    .top-info{
      padding-top: 20px;
      height: 420px;
      .ows-text {
        margin: 25px auto;
      }
    }
    .ows-technologies {
      width: 90%;
    }
    #yellow-bg2{
      background: #ffe014;
    }
    .ows-list {
      width: 100%;
    }
  }
  #ept{
    .ept-title{
      font-size: 26px;
    }
    #yellow-shape2{
      .els-table{
          width: 100%;
        .ept-block {
          display: block;
          width: initial;
        }
      }
    }
  }

}
@media (min-width: 768px) {
  .els-items:not(:first-of-type) {
    width: 700px;
    margin: 0 auto 80px;
  }
  #exigen {
    .brief-project-info {
      width: 230px;
      padding-left: 40px;
    }
  }
  .small-title {
    margin-top: 50px;
  }
  #info-graphic-sm {
    display: none;
  }
  .industries:not(:last-of-type) /*, .technology:not(:last-of-type)*/
  {
    //margin-right: 20px;
  }
  #eow {
    .ows-content-block {
      padding-left: 10%;
    }
  }
}
@media (min-width: 600px){
  .palka {
    background: url(../images/rn/line1.png) center center no-repeat;
    background-size: contain;
  }
  .dots:before{
    content: '';
    position: absolute;
    top: 50%;
    top: calc( 50% + 5px);
    right: -75px;
    width: 151px;
    height: 1px;
    background-color: #b1d1b2;
  }
  .slide-in-right:after{
    content: '';
    position: absolute;
    top: 50%;
    right: -5px;
    width: 11px;
    height: 11px;
    border-radius: 10px;
    background-color: #b1d1b2;
  }
  .slide-in-right{
    padding-right: 50px;
  }
  .slide-in-left {
    padding-left: 50px;
  }
}
@media (min-width: 600px)and (max-width: 767px){
  .service-type{
    margin-left: 25%;
    width: 50%;
  }
}
@media (max-width: 767px){

}
@media (min-width: 681px){
  #els{
    .table-cell:nth-last-child(1) {
      border-left: 2px solid rgb(255, 223, 27);
    }
  }
}
@media (max-width: 680px){
  #els .els-border {
    width: initial;
    .table-cell{
      display: block;
    }
  }
  .table-cell:nth-last-child(1) {
    border-top: 2px solid rgb(255, 223, 27);
  }
}
@media (max-width: 600px){
  #clients{
    div.bx-wrapper {
      max-width: 400px !important;
      .bx-controls-direction a {
        width: 50px;
        height: 50px;
      }
    }
    .client-slide {
      width: 400px;
      height: 350px;
    }
    .client-slide.active {
      height: 400px;
    }
  }
  #opal-bop {
    .excerpt-text {
      font-size: 13px;
    }
    .quote {
      padding-left: 25px;
    }
  }
}
@media (min-width: 500px){
  #rn .palka .slide-in-right, #rn .palka .slide-in-left {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
  #rn .palka {
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 499px){
  #rn .palka .slide-in-right, #rn .palka .slide-in-left {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 50px;
    text-align: center;
  }
  .technology {
    padding-top: 20px;
    width: 60%;
    margin: 0 auto;
    float: none;
    .icon {
      margin-bottom: 15px;
    }
  }
  .technology:not(:last-of-type) {
    border-right: none;
    border-bottom: 1px solid #e1e1e1;
  }

}
@media (max-width: 480px){
  #eow {
    .ows-title {
      font-size: 22px;
    }
    .ows-maps {
      margin-bottom: 100px;
    }
  }
  .monitor, .light-bulb, .magnifier, .lifebelt {
    width: 60px;
    height: 60px;
  }
  .service-type {
    padding-left: 0px;
    padding-right: 0px;
  }
  #clients{
    div.bx-wrapper {
      max-width: 350px !important;
    }
    .client-slide {
      width: 350px;
      height: 350px;
    }
    .client-slide.active {
      height: 400px;
    }
  }
}
@media (max-width: 400px){
  body, .short-text {
    font-size: 12px;
  }
  .title {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .short-text {
    margin-bottom: 40px;
  }
  .monitor, .light-bulb, .magnifier, .lifebelt{
    width: 50px;
    height: 50px;
  }
  .service-title {
    font-size: 16px;
  }
  .title-divider {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .border-bottom-blue {
    padding-bottom: 0px;
  }
  .industries-wrap {
    padding-top: 40px;
  }
  .industries {
    height: 225px;
  }
  .more-txt {
    font-size: 22px;
    padding: 0px 10px;
  }
  .more {
    margin-top: 0px;
  }
  .border-bottom-gray {
    padding-bottom: 50px;
  }
  .team {
    width: 327px;
    height: 327px;
  }
  .valery, .nicolay, .edgar {
    width: 271px;
    height: 271px;
  }
  #els {
    .els-title {
      font-size: 22px;
    }
  }
}